

.classroom-card {
    display: flex; 
    align-items: center;}


.classroom-card img {
    max-width: 100%; 
    margin-right: 20px; }
.classroom-details {
    flex: 1; 
}

.classroom-details h2 {
    color: #333; 
}


.classroom-details p {
    color: #666; 
}

.classroom-details a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; }
